<form action="/task/add" method="post">
  <div>
    <label for="title" id="title">
      Write Title:
      <input type="text" name="title" id="title" placeholder="Title">
      
    </label>
  </div>
  <div>
    <label for="description">
      Description:
      <input type="text" name="description" id="description" placeholder="Description">
      
    </label>
  </div>
  <button>Add</button>
</form>